*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
/* shared styles */
.flex{
    display: flex;
}
#gradient{
    background: linear-gradient(#F7E93F ,#FB09B4 ,#9100F8);
    background-clip: text;
   color: transparent;
}
.background-gradient{
    background: linear-gradient(to top right, #F7E93F,#FB09B4,#9100F8);
}
.color-white{
    color: white;
}
/*  */
.color-green{
    color: #00FF88;
}
/* main styles */

/* header design */
.header{
    /* border: 1px solid; */
    max-width: 1600px;
    margin: 0 auto;
}
.navbar{
    justify-content: space-evenly;
    background-color: #412567;
    padding: 26px;
    align-items: center;
}
.navbar ul{
    gap: 32px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.navbar button{
    border: none;
    border-radius: 10000px;
    padding: 12px 16px;
    align-items: center;
    color: #FFFFFF;
    font-size: 0.9rem;
}
.header-elements{
    max-width: 1600px;
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    /* height: 760px; */
}
.header-image{
    /* border: 1px solid white; */
    max-width: 350px;
    margin: 0 auto;
    background: url(./assets/hero-circle.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.header-image img{
      /* border: 1px solid white; */
      max-width: 115px;
      /* text-align: center; */
      /* margin: 0 auto; */
      margin-left: 70px;
      
}
#new-badge{
    /* border: 1px solid; */
    /* margin-bottom: 40px; */
    margin-top: -190px;
    margin-left: 140px;
}
.header-details{
    /* border: 1px solid wheat; */
    max-width: 550px;
    margin: 10px auto;
    text-align: center;

}
.header-details h1{
    color: #FFFFFF;
    font-size: 3rem;
    margin-bottom: 10px;
}
.header-details p{
    color: #FFFFFF;
      margin-bottom: 10px;
}
#btn1{
    border: none;
    border-radius: 10000px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-size: 1rem;
    align-items: center;
}
#btn1 img{
    width: 15px;
}
#btn2{
    border: 1px solid #00FF88;
    border-radius: 10000px;
    color: #00FF88;
     padding: 12px 20px;
      font-size: 1rem;
    align-items: center;
    background: none;
}
#btn2 img{
    width: 15px;
}

.section1{
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #1A0B2E;
    color: #FFFFFF;
}
.sec1-details p{
    margin-bottom: 40px;
}
.sec1-details{
    max-width: 900px;
    margin: 0 auto;
}
hr{
    max-width: 1000px;
    margin: 30px auto;
}
.sec1-cards{
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.sec1-card h1{
    color: #00FF88;
}
 .section2{
    background-color: #230E3D;
    max-width: 1600px;
    padding: 120px 200px;
    margin: 0 auto;
    
 }
 .section2 h1{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
     color: #FFFFFF;
     margin-bottom: 20px;
 }
 .sec2-cards *{
    background-color: #351165;
    color: #FFFFFF;
 }
 .sec2-card1{
    border-radius: 30px;
    grid-area: card1;
    padding: 20px;
    /* margin: 0 auto;     */
 }
 .sec2-card2{
    border-radius: 30px;
    grid-area: card2;
     padding: 20px;
   
 }
 .sec2-card3{
    border-radius: 30px;
    grid-area: card3;
     padding: 20px;
     
 }
 .sec2-card4{
    border-radius: 30px;
    grid-area: card4;
     padding: 20px;
     
 }
 .sec2-card5{
    border-radius: 30px;
    grid-area: card5;
     padding: 20px;
     
 }
 .sec2-cards{
    
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5";
 }

 .section3{
    max-width: 1600px;
    background-color: #1A0B2E;
    margin: 0 auto;

 }
 .sec3-cards{
    justify-content: center;
    gap: 30px;
 }
 .sec3-card{
    max-width: 380px;
    background-color: #250D44;
    color: #FFFFFF;
    border-radius: 30px;
    /* padding: 20px; */
 }
 .sec3-card iframe{
    width: 100%;
     border-radius: 30px 30px 0px 0px;
 } 
 .sec3-card h1,.sec3-card p{
    padding: 10px;
 }
@media screen and (max-width:576px) {
    .header-elements{
        /* width: 100%;
        padding: 20px; */
       width: 440px;
       height: 400px;
       background-position: center;
    }
    .navbar{
        flex-direction: column;
    }
    .header-image{
        width: 150px;
        height: 150px;
        margin-top: -50px;
    }
    .header-image img{
      width: 70px;
      margin-top: -50px;
      margin-left: -10px;
    }
    .section2{
        margin: 0 auto;
        padding: 0;
        /* padding: 100px; */
        
    }
   .sec2-cards{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   }
   .sec2-card1,
   .sec2-card2,
   .sec2-card3,
   .sec2-card4,
   .sec2-card5{
    padding: 0;
    width: 300px;
    margin: 0 auto;
    padding: 40px;
   }
}

/* large device media query */
@media screen and (min-width:992px) {
    .sec2-cards{
        display: grid;
        grid-template-rows: "card1 card2"
        "card3 card3"
        "card4 card5" ;
    }
    
}